<!DOCTYPE html>
<html lang="en">

<!-- Se edita template completo para que sea igual que el Index, -Emix-->
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <!-- <title> Index - Medilab Bootstrap Template </title> -->
  <title>Protego Total | {% block title %} {% endblock %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
    <!--Template tag load static-->
    {% load static %}

  <!-- Favicons -->
  <link rel="icon" href="{% static 'img/favicon-96x96.png' %}" sizes="96x96" >
  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}" >
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" >
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon1.png' %}" >
  <link rel="manifest" href="{% static 'img/site.webmanifest'%}" >
  <meta name="apple-mobile-Inmuno-life" content="Inmuno" >

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static '/css/main.css' %}" rel="stylesheet">

   <!--Enlace CSS local-->
   <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="starter-page-page">

  <header id="header" class="header sticky-top">

    <div class="topbar d-flex align-items-center">
      <div class="container d-flex justify-content-center justify-content-md-between">
        <div class="contact-info d-flex align-items-center"> 
          <!--Se agrega correo de Inmuno en la parte superior -Emix -->
          <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@Protego.com</a></i>
          <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55  </span></i>
        </div>
        <div class="social-links d-none d-md-flex align-items-center">
          <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>
    </div> <!-- End Top Bar -->

    <div class="branding d-flex align-items-center">

      <div class="container position-relative d-flex align-items-center justify-content-between">
        <a href="#hero" class="logo d-flex align-items-center me-auto"> 
          <!--Se modifica href:index.html por "#hero" -Emix-->
          <!-- Se modifica logo agregando logo de Inmuno -Emix-->
          <img class ="logo-inmuno" src="{% static '/img/protegototal-leon.png' %}" alt="Logotipo de Inmuno: Leon rojo">
          <br> 
          <img class ="logo-inmuno-leter" src="{% static '/img/protegototal-letras.png' %}" alt="Logotipo de Inmuno: Leon rojo">
        </a>
        <!--Modificacion de navbar agregando 2 dropdowns. Emix-->
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a href="#hero">Inicio<br></a></li>
            <li><a href="#hero">Cotizaciones y Reajustes</a></li>
            <li><a href="#hero">Registros</a></li> <!--Se comenta clases que se le quitan a about - Emix: class="dropdown, bi-chevron-down toggle-dropdown"-->
            <li><a href="#hero">Pagos</a></li> <!--Se comenta clases que se le quitan a about - Emix: class="dropdown, bi-chevron-down toggle-dropdown"-->
            <li><a href="#hero">Contactos</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a class="cta-btn d-none d-sm-block" href="{% url 'home' %}">Cerrar sesión</a></a>
        
        

      </div>

    </div>

  </header>
  
  <main class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card border shadow-lg p-3 mb-5 bg-body rounded" style="width: 100%; max-width: 450px;">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Restablecer Contraseña</h2>

            {% for message in messages %}
                {% if "password_reset" in message.tags %}
                    <div class="alert {% if 'success' in message.tags %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}

            <form method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_email" class="form-label">Correo Electrónico</label>
                    {{ form.email }}
                    {% if form.email.errors %}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                {{ error|escape }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <button type="submit" name="button_request" class="btn btn-primary w-100 py-2">Enviar enlace de restablecimiento</button>
            </form>
        </div>
    </div>
</main>



<footer id="footer" class="footer light-background">

  <div class="container footer-top">
    <div class="row gy-4">
      <div class="col-lg-4 col-md-6 footer-about">
        <a href="index.html" class="logo d-flex align-items-center">
          <!-- Se modifica la informaci+on del Footer Leonardo Geishow -->
          <span class="sitename">Protego Total</span>
        </a>
        <div class="footer-contact pt-3">
          <p><strong>"Ubicación:" </strong>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p class="mt-3">Teléfono: <span>+1 5589 55488 55</span></p>
          <p>Email: <span>Protego@correo.com</span></p>
        </div>
        <div class="social-links mt-4">
          <h4>Nuestras Redes Sociales</h4>
          <div class="d-flex gap-3 mt-2">  <!--Se agrega GAP que sirve para dar espacio solo entre los elementos sin afectar el exterior del div -LGS-->
              <a href=""><i class="bi bi-twitter-x"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
      </div>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Links Utiles</h4>
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#">Membresias</a></li>
          <li><a href="#about">Sobre Nosotros</a></li>
          <li><a href="#services">Servicios</a></li>
          <li><a href="#contact">Contactanos</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Nuestros Servicios</h4>
        <ul>
          <li><a href="#">Pagos</a></li>
          <li><a href="#">Cotizaciones</a></li>
          <li><a href="#">Contacto</a></li>

          <!-- Se desabilita dos listas LeonardoGeishow -->
          <!-- <li><a href="#">Marketing</a></li>
          <li><a href="#">Graphic Design</a></li> -->
        </ul>
      </div>

      <!-- Se deshabilita una seccion de footer completa LeonardoGeishow-->
      <!-- <div class="col-lg-2 col-md-3 footer-links">
        <h4>Hic solutasetp</h4>
        <ul>
          <li><a href="#">Molestiae accusamus iure</a></li>
          <li><a href="#">Excepturi dignissimos</a></li>
          <li><a href="#">Suscipit distinctio</a></li>
          <li><a href="#">Dilecta</a></li>
          <li><a href="#">Sit quas consectetur</a></li>
        </ul>
      </div> -->

      <div class="col-lg-2 col-md-3 footer-links">
        <h4>Enlaces Importantes</h4>
        <ul>
          <li><a href="#">Nuestro recorrido</a></li>
          <li><a href="#">Nuestra historia</a></li>
          <li><a href="#">Compañia que nos respaldan</a></li>
        </ul>
      </div>

    </div>
  </div>

  <div class="container copyright text-center mt-4">
    <img src="{% static 'img/logo-quantum.png' %}" alt="Logo" id="logo-quantum" class="img-fluid" style=" ">
    <p>Powered by <strong>Qwantum Qwerty</strong></p>
    <!-- <p>© <span>Copyright</span> <strong class="px-1 sitename">Protego  Total</strong> <span>Todos los derechos reservados </span></p> -->
  </div>

</footer>

<!-- Se termina de modificar ionformación del footer -->

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- COMENTAMOS PRELOADER PARA VER PROGRESOS -->
<!-- Preloader -->
<!-- <div id="preloader"></div> -->


<!-- Vendor JS Files -->
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
<script src="{% static 'vendor/aos/aos.js' %}"></script>
<script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>

<!-- Main JS File -->
<script src="{% static 'js/main.js' %}"></script>


</body>

</html>