  <!--Se agrega modal par inicio de sesión y modal para registrarse - Emix-->
  <!--Modal de Inicio de Sesión -Emix -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!--Se modifica form para que funcione el captcha -Emix-->
          <!-- Se agregan placeholder a los inputs -Emix-->
          <form class="forms" action="{% url 'login'%}" method="POST">
            {% csrf_token %}  
            <div class="mb-3">
              <label for="loginEmail" class="form-label">Correo Electrónico</label>
              <input name="login-email" type="email" class="form-control" id="loginEmail" required>
            </div>
            <div class="mb-3">
              <label for="loginPassword" class="form-label">Contraseña</label>
              <div class="input-group">
                <input name="login-password" type="password" class="form-control" id="loginPassword" required>
                <!-- Se agrega boton de mostrar y ocultar contraseña -Emix -->
                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                  <i class="fas fa-eye"></i> <!-- Ícono de FontAwesome -->
                </button>
              </div>
            </div>
            <div class="g-recaptcha mb-3" data-sitekey="6Ld9l_UqAAAAAAmI9BYtTU4WTvz1pF9fVI2cHm31"></div>
            <a href="{% url 'password_reset' %}" class="d-block text-center mb-3">Olvidé mi contraseña</a>
            <button type="submit" id="button_login" class="btn btn-primary w-100">Ingresar</button>
          </form>
          <div class="text-center mt-3">
            <p>¿No tienes cuenta? <a href="#" data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss="modal">Regístrate</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <!-- Mandamos a llamar al modal de registro-Emix-->
  {% block modals %}
  {% include "modal/register.html" %}
  {% endblock %}
  <!-- Script para mostrar la contraseña -Emix-->
  <script>
  // Agrega un event listener al elemento con ID "togglePassword" -Emix
  document.getElementById("togglePassword").addEventListener("click", function () {
  // Obtiene el campo de contraseña por su ID -Emix
  var passwordField = document.getElementById("loginPassword");  
  // Obtiene el icono dentro del botón usando querySelector -Emix
  var icon = this.querySelector("i");
  // Verifica si el tipo del campo de contraseña es "password" -Emix
    if (passwordField.type === "password") {
  // Si es "password", cambia el tipo a "text" para mostrar la contraseña -Emix
    passwordField.type = "text";
  // Remueve la clase "fa-eye" (ojo abierto) del icono -Emix
    icon.classList.remove("fa-eye");
  // Agrega la clase "fa-eye-slash" (ojo tachado) para indicar que la contraseña es visible -Emix
    icon.classList.add("fa-eye-slash");
    } 
    else 
    {
  // Si el tipo no es "password" (es decir, es "text"), lo cambia de vuelta a "password" -Emix
    passwordField.type = "password";
  // Remueve la clase "fa-eye-slash" (ojo tachado) -Emix
    icon.classList.remove("fa-eye-slash");
  // Agrega la clase "fa-eye" (ojo abierto) para indicar que la contraseña está oculta -Emix
    icon.classList.add("fa-eye");
     }
  });
  </script>
  <!-- Script para solucionar quitar fondo gris y poner funcionalidad -Emix -->
  <script>
    $(document).on('hidden.bs.modal', function () {
      if ($('.modal.show').length === 0) { // Verifica si queda algún modal abierto -Emix
          $('body').removeClass('modal-open'); // Restaura el scroll solo si no hay modales abiertos -Emix
          $('.modal-backdrop').remove(); // Elimina el fondo oscuro solo si no hay más modales activos -Emix
      }
  });
</script>  